# Directus Security (MÜSSEN in Dokploy sicher gesetzt werden!)
# Generiere zufällige Strings, z.B. mit: openssl rand -hex 32
KEY=dein-sicherer-key
SECRET=dein-sicheres-secret

# Datenbank
DB_USER=directus
DB_PASSWORD=super-sicheres-db-passwort
DB_NAME=directus

# Admin Zugang (Wird beim initialen Start verwendet, um den Admin-Nutzer anzulegen)
ADMIN_EMAIL=admin@theatergruppe-kleinraming.at
ADMIN_PASSWORD=sicheres-admin-passwort

# Für Einladungslinks etc...
PUBLIC_URL="https://cms.kopfarbeit.dev"

# MCP Auth
MCP_OAUTH_ENABLED=true
MCP_OAUTH_CIMD_ENABLED=true
