---
import GalleryImage from './GalleryImage.astro';

interface Props {
  images: string[];
  title?: string;
}

const { images, title = 'Impressionen' } = Astro.props;
---

<section class="container filmstrip-section">
  <div class="filmstrip-header">
    <h2>{title}</h2>
  </div>
  <div class="filmstrip-grid">
    {
      images.map((imgUrl: string) => (
        <GalleryImage src={imgUrl} alt="Impression" width={600} />
      ))
    }
  </div>
</section>

<style>
  .filmstrip-section {
    margin-bottom: 8rem;
  }

  .filmstrip-header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .filmstrip-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (min-width: 992px) {
    .filmstrip-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
